.container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    gap: 2rem;
  }
  
  .list_item {
    display: grid;
    grid-template-columns: 20% 35% 20% 10% 15%;
    gap: 1%;
    align-items: center;
    border-bottom: 1px solid #ff4c304f;
    min-height: 3rem;
  }
  
  .list_item > * {
    word-wrap: break-word;
  }
  
  h3 {
    margin-left: 0;
  }
  
  .actions {
    display: flex;
    gap: 0.7rem;
  }